html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #1b3465, #0d47a1, #00b4db, #149c83, #1b3465, #0d47a1);
    background-size: 600% 600%;
    animation: forwardDiagonal 15s linear infinite;
    font-family: "Aldrich", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

@keyframes forwardDiagonal {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

h1 {
    color: #d2f3ff;
    text-align: center;
    align-items: center;
    font-size: 70px;
}
h2 {
    color: #d2f3ff;
    text-align: center;
    align-items: center;
    font-size: 40px;
}
h3 {
    color: #d2f3ff;
    text-align: center;
    align-items: center;
}
p {
    color: #d2f3ff;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}
li {
    color: #d2f3ff;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
}
a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

.page {
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
}

.page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1 0 auto;
}

.bottom-text {
    margin-top: auto;
    text-align: center;
    color: #d2f3ff;
    padding: 1rem 0;
}

.semi-transparent {
    opacity: 0.1;
}