body {
    font-family: "Aldrich", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #d2f3ff;
}

h1 {
    color: #1b3465;
    text-align: center;
    align-items: center;
    font-size: 70px;
}

h2 {
    color: #1b3465;
    text-align: center;
    align-items: center;
}
p {
    color: #1b3465;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}